/* Main container */
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10rem;
  height: 100vh;
  flex-wrap: wrap;
}

.slideshow {
  position: relative;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center; /* add this to vertically center the image */
}

.slide-image {
  max-width: 500px; /* increase the max-width to make the image larger */
  max-height: 10cm; /* increase the max-height to make the image larger */
  border-radius: 12px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1rem;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  z-index: 10;
}

.prev {
  left: 0px; /* set the left arrow to the left edge of the slideshow container */
}

.next {
  right: 170px; /* set the right arrow to the right edge of the slideshow container */
}

 .dots {
  display: inline-block;
  text-align: center;
  margin-top: 2rem; /* increase the margin to push the dots below the image */
}

.dot {
  width: 10px;
  height: 10px;
  background-color: #bbb;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.dot.active {
  background-color: #333;
}

/* Welcome message container */
.welcome-message {
  width: 35%;
  text-align: center;
  background: linear-gradient(135deg, #ffffff, #f8f8f8);
  border-radius: 12px;
  padding: 2rem;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

.welcome-header {
  font-size: 2.5rem;
  font-family: 'Times New Roman', serif;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 1px 2px 5px rgba(255, 255, 0, 0.8);
  animation: glowing-text 2s ease-in-out infinite alternate;
}

.welcome-subheader {
  font-size: 1.2rem;
  font-family: 'Segoe UI', Tahoma, Geneva, sans-serif;
  color: #555;
  margin-top: 1rem;
}

@keyframes glowing-text {
  0% {
    text-shadow: 1px 2px 5px rgba(255, 255, 0, 0.3);
  }
  100% {
    text-shadow: 1px 2px 15px rgba(255, 255, 0, 1);
  }
}

.explore-now {
  margin-left: 10px; /* Pushes the button to the right */
  padding: 0.6rem 1.2rem; /* More padding for a substantial button */
  background: linear-gradient(135deg, #ff7e5f, #201E43); /* Gradient background */
  color: white;
  border: none;
  border-radius: 30px; /* More rounded button */
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600; /* Bold text */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow to the button */
  transition: background 0.3s ease-in-out, transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.explore-now:hover {
  background: linear-gradient(135deg, #feb47b, #ff7e5f); /* Reverse gradient on hover */
  transform: translateY(-2px); /* Slight lift on hover */
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); /* More pronounced shadow on hover */
}